* {
    font-family: Arial, Verdana, sans-serif;
}

.container {
    display: block;
    width: 250px;
	height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header {
    background-color: #005F6A;
    color: white;
    font-size: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
    text-transform: uppercase;
	text-align: center;
	width: 100%
}

.dropdown_index{
	padding-top: 10px;
}
